@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --text-red: red;
  --text-blue: blue;
  --background-color: rgb(245, 245, 245);
  --navbar-background-color: rgb(211, 211, 211);
}

.dark {
  --text-color: #fff;
  --background-color: rgb(0, 0, 0);
  --navbar-background-color: rgb(71, 71, 71);
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

.page {
  /* margin-top: 128px; only when navbar is fixed*/
  margin-top: 30px;
  min-height: 80vh;
}

/* Navigation bar */

.navbar,
.footer {
  background-color: var(--navbar-background-color);
}

.menu li {
  margin-right: 20px;
}
