@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 0, 0, 0;
  --background-color: grey;

  /* --primary-color: blue;
  --secondary-color: red; */
}

.dark {
  --text-color: 255, 255, 255;
  --background-color: black;
}

body {
  color: rgb(var(--text-color));
  background: var(--background-color);
  margin: 0;
  padding: 0;
}
